* {
   box-sizing: border-box;
 }
 
 body {
   font-family: 'Menlo', 'Lucida Console', monospace;
   margin: 0;
   display: flex;
   flex-direction: column;
   text-align: center;
   color: rgb(14, 50, 121);
   min-height: 100vh;
   justify-content: flex-start;
 }
 
 header {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 2%;
   padding: 10px;
   text-align: center;
   border: 5px solid rgb(14, 50, 121);
   background: rgb(140, 210, 245);
   color: #303dd0;
 }

 .textBox {
   border: 2px solid rgb(14, 50, 121);
   padding: 15px;
   background-color: white;
   color: rgb(14, 50, 121);
 }

 h1 {
   font-size: 300%
 }

 nav li::after
 {
   color: #ffffff;
   padding: 20%;
   position: relative;
 }
 
 nav ul {
   display: flex;

 }
 
 nav a {
   margin-left: 180px;
   color: #ffffff;
   font-size: 150%;
   font-weight: bold;
   text-decoration: none;
   position: relative;
 }
 
 nav a:hover {
   color: rgb(140, 210, 245);
 }
 

 nav {
   display: flex;
   margin: 20px;
   padding: 25px;
   border: 2px solid rgb(14, 50, 121);
   background-color: rgb(14, 50, 121);
 }
 
 main {
   display: inline;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   flex-wrap: wrap;
   background-color: rgb(190, 230, 250);
   border: 5px solid rgb(14, 50, 121);
   justify-content: space-around;
 }
 
 section {
   flex: 0 0 400px;
   background-color: #fff;
   margin: 125px;
   padding: 15px;
   border: 8px solid rgb(14, 50, 121);
   

 }
 
 img {
   margin: 30px;
   width: 375px;
 }
 
 footer {
   flex-shrink: 0;
   padding: 15px;
   text-align: center;
   border: 5px solid rgb(14, 50, 121);
   background: rgb(105, 148, 233);
   color: rgb(14, 50, 121);
   margin-top: auto;
 }
 
 /* Added some padding and styling for the photos */
 .photo {
   margin: 50px;
   padding: 20px 10px;
   border: 2px solid darkviolet;
   background-color: rgb(140, 210, 245);
 }
 

 @media screen and (max-width: 768px) {
   header,
   main {
     flex-direction: column;
   }
 
   section {
     padding-right: 0;
   }
 
   aside {
     width: 100%;
     text-align: center;
   }
 }
 